# Ignore Python virtual environment
venv/

# Ignore compiled Python files and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model and large data files if not needed for versioning
*.hdf5

# Ignore environment variables if you add them later
.env
.env.*

# Ignore OS-specific junk
.DS_Store
Thumbs.db
